// button
$color-btn-bg = #95ca00     
$color-btn-bg-g = #c7ccc6     
$color-btn-font = #fff     
$color-btn-boder = #90ab98   
$color-btn-shadow = #82a6c6
.btn-sub
  display: inline-block
  width: 196px
  padding: 0.3em 0
  text-align center
  font-size: 1.5em
  color $color-btn-font
  background-color $color-btn-bg
  border-radius: 12px
  border-bottom: 3px solid $color-btn-boder
  box-shadow: 0px 3px 0px $color-btn-shadow
.btn-sub.disabled
  background-color $color-btn-bg-g
  box-shadow: 0px 3px 0px #6f6f6f
  border-bottom: 3px solid #616161
.pay-method
  border-radius: 8px
  background: $color-btn-font
  color #333
  font-size: 1.2em
// label 模拟checkbox
.checkbox:checked + label 
  i
    background: $color-btn-bg
    color #fff;
.checkbox + label
  border: 1px solid #c7ccc6;
  padding: 0.2em;
  position: absolute;
  top 0
  left 0
  margin 3%
  width: 94%
  // height:90%
  background: #f7f7f7;
  box-sizing: border-box
  overflow hidden
  i 
    padding: 0.1em ;
    background: #dbdcda;
    font-size: 20px;
    font-weight: bold;
    color #959891;
    display: block
