.form-item-icon
  margin 1em
  label
    position: absolute
    padding: 11px  12px
    color #666
    font-size: 1.1em
    border-right: 1px solid #d0d6d9
  input 
    padding-left: 50px
    border-radius:4px
  button 
    display: block
    // margin: 0 auto
    width: 320px
.error-info
  font-size: .95em
  color: rgb(214, 103, 112)
  vertical-align -.8ex