.pay-icon
  display: inline-block;
  width: 40px;
  height: 60px;
  /* background-size: 65%; */
  background-repeat: no-repeat;
  vertical-align: -10px;
  padding-right: 10px;
  background-position: center;
.icon-wx
  background-image: url('../icon/icon-wx.png')
.icon-zfb
  background-image: url('../icon/icon-zfb.png')
.icon-yhk
  background-image: url('../icon/icon-yhk.png')
.icon-ye
  background-image: url('../icon/icon-ye.png')
.pay-icon.large
  width: 67px;
  height: 50px;