// 导航按钮
.nav-btn 
  letter-spacing 2px
  font-size 1.4em
  position absolute
  top:24px
  right:20px
  li
    display inline-block
    background: #f5f5f5
    margin 0 0.2em
    padding:0.4em 0.4em
    border-radius: 6px
    color #0a3876
  li.active
    background: #36c7fe
    color #fff