// 颜色自定义规范
$color-theme = #2893ff
$color-theme-l = #0066cc
$color-theme-ll = #1a4876
$color-theme-h = #7ca8cf
$color-border-2px = #96a4b1
$color-shodow-2px = #87a2bd
$color-font = #ffffff
$color-font1 = #363171
$color-back-pre = #98caff             
$color-back-home = #fcffff           
$color-back-exit = #c7ccc6      
$color-bg1 = #607f9e 
$color-a1 = #86a7c6     
$color-a2 = #50bef3     
$color-a3 = #9d9592     
$color-a4 = #5f809f     
$color-a5 = #264a62     
$color-a6 = #bbc8ae
$color-a7 = #013d8e     
$color-a8 = #87bf66     
$color-a9 = #d0dec1  
$color-a10 = #ff6666